body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
}

.cinema {
  overflow: hidden;
  position: relative;

  &__header {
    height: 100px;
    background: #141414;
    padding-top: 25px;

    .cinema__header__city:hover svg {
      color: #c6a12e;
    }

    &__wrap .row {
      height: 50px;
    }

    &__city {
      font-size: 12px;
      line-height: 18px;
      color: #ccc;
      white-space: nowrap;
      padding-left: 22px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin-left: auto;

      svg {
        margin-right: 10px;
      }

      &:hover {
        color: #fff;
      }
    }

    &__nav {
      li {
        padding: 0 9px;

        a {
          display: block;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;
          color: #ccc;
          font-weight: 500;
          text-decoration: none;
          font-size: 12px;
          line-height: 18px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.index-slider__item {
  display: block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.index-slider {
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.cinema__wrapper,
html,
body {
  background-color: var(--bg-wrapp);
}

.cinema__top-filter {
  padding-top: 50px;

  &__row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border);

    .cinema__header__city {
      color: var(--color-text);
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__date {
    li:not(:last-child) {
      padding-right: 58px;
    }

    &__item {
      position: relative;
      display: block;
      height: 40px;

      &__val {
        position: relative;
        height: 40px;
        padding-top: 3px;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--color-text);
        user-select: none;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 10;
          top: 100%;
          left: 0;
          width: 0;
          height: 3px;
          margin-top: -2px;
          transition: all 0.2s ease-in-out;
          background: var(--bg-active);
        }

        &--date {
          position: relative;
          color: var(--color-text);
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      input.d-none:checked + .cinema__top-filter__date__item__val {
        &::after {
          width: 100%;
        }
      }
    }

    &__ico {
      height: 20px;
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 0;
      color: var(--color-text);
    }
  }

  &__date-inp {
    height: 20px;
    background-color: transparent;
    border: none;
    padding-left: 28px;
    color: var(--color-text);
    width: 153px;
    position: relative;
    z-index: 10;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;

    &::placeholder {
      color: var(--color-text);
      opacity: 1;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

}

.cinema__top-filter__params {
  padding: 20px 0 29px;
  margin-left: -20px;

  li {
    padding: 0 0 12px 20px;
  }
}

.custom-chekbox {
  &__value {
    display: inline-flex;
    align-items: center;
    padding: 4px 21px;
    height: 36px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      border-color: #fccb36;
    }

  }

  input:checked + .custom-chekbox__value {
    border: none !important;
    padding: 5px 22px;
    background: var(--bg-active);
    color: #1b1b1b;
  }
}

.fpad40 {
  padding-bottom: 40px;
}

.air-datepicker-global-container {
  z-index: 9999;
}

.cinema__film {
  display: block;
  text-decoration: none;

  &__date {
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 0;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5px 10px;
    height: 24px;
    font-size: 10px;
    line-height: 14px;
    border-radius: 0 5px 5px 0;
    background: #c02235;
    font-weight: 600;
  }

  &__img {
    position: relative;
    border-radius: 8px;
    overflow: hidden;


    img {
      width: 100%;
      display: block;
      height: auto;
      position: relative;
      z-index: 1;
      border-radius: 8px;
    }

    &__hover {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 40px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      background: rgba(0, 0, 0, 0.7);

      .button-border {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(10px);
      }
    }

    &:hover {
      .cinema__film__img__hover {
        opacity: 1;
        visibility: visible;

        .button-border {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .cinema__film__info-list {
        opacity: 1;
        margin-bottom: 20px;
      }
    }
  }

  &__info-list {
    margin-bottom: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    li {
      padding: 0 3px;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
    }
  }

  &__footer {
    padding-top: 16px;
    text-align: center;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-link);
    transition: all 0.2s ease-in-out;
    display: block;

    &:hover {
      color: var(--color-link-hover);
    }
  }

  &__genre {
    font-size: 12px;
    line-height: 24px;
    color: var(--color-link);
  }

  &__tags {
    align-items: flex-start;

    li {
      padding: 4px 2px 0;
      height: 28px;
    }

    &__item {
      white-space: nowrap;
      height: 24px;
      padding: 0 5px;
      border: 1px solid var(--color-tags);
      border-radius: 5px;
      color: var(--color-tags);
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1.2;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      min-width: 28px;
      display: flex;

      svg {
        display: block;
      }
    }
  }
}

.button-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  overflow: hidden;
  text-decoration: none;
  position: relative;

  span {
    position: relative;
    color: #fefefe;
    z-index: 10;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:hover {
    &::before {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    span {
      color: #1b1b1b;
    }
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.cinema__theme-switch {
  display: block;

  &__value {
    width: 45px;
    height: 24px;
    border-radius: 12px;
    background: #323232;
    position: relative;
    display: block;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      position: absolute;
      z-index: 10;
      top: 2px;
      left: 2px;
      transition: all 0.2s ease-in-out;
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 12px 12px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath fill='%23141414' d='M490.67,234.67h-87a148,148,0,0,0-9.16-34.29l75.25-43.6a21.33,21.33,0,0,0-20.22-37.57c-.38.2-.75.41-1.12.64l-75.3,43.67A150.86,150.86,0,0,0,348.57,139l43.64-75.33a21.33,21.33,0,0,0-36.92-21.33l-43.67,75.2a147,147,0,0,0-34.29-9.16v-87a21.33,21.33,0,1,0-42.66,0v87a147,147,0,0,0-34.29,9.16l-43.6-75.25a21.34,21.34,0,0,0-36.93,21.34L163.5,139A150.46,150.46,0,0,0,139,163.52L63.68,119.85a21.33,21.33,0,1,0-22.45,36.28c.37.23.74.45,1.12.65l75.18,43.6a148,148,0,0,0-9.16,34.29h-87a21.33,21.33,0,0,0,0,42.66h87a148,148,0,0,0,9.16,34.29l-75.25,43.6A21.33,21.33,0,0,0,62.5,392.79c.38-.2.75-.42,1.12-.64l75.3-43.67A150.86,150.86,0,0,0,163.43,373l-43.58,75.33a21.33,21.33,0,0,0,36.93,21.33l43.6-75.24a148.07,148.07,0,0,0,34.29,9.2v87a21.33,21.33,0,1,0,42.66,0v-87a148,148,0,0,0,34.29-9.16l43.6,75.25a21.34,21.34,0,0,0,36.93-21.34L348.5,373.06A150.52,150.52,0,0,0,373,348.52l75.31,43.67a21.33,21.33,0,1,0,22.45-36.28c-.37-.23-.74-.44-1.12-.65l-75.24-43.6a147.93,147.93,0,0,0,9.22-34.33h87a21.33,21.33,0,0,0,0-42.66ZM256,362.67c-141-4.48-140.93-208.88,0-213.34C397,153.81,396.93,358.21,256,362.67Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  input:checked + .cinema__theme-switch__value::after {
    margin-left: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 431.44 512.31'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath fill='%23c9c9c9' d='M256,512.31C114.71,512.16.19,397.63,0,256.31-3.23,65.25,214-63.37,379.58,32.5l33.13,18.39L379.79,69.66c-142.93,78.68-132.48,295.9,17.07,360.67l34.58,15.59-31.3,21.46A254.29,254.29,0,0,1,256,512.31ZM256,43C138.27,43.11,42.83,138.54,42.7,256.31c-3.3,151.83,165.61,260.27,302,193.75-112.94-75.79-143-228.79-67.26-341.73A246.62,246.62,0,0,1,326,54.94,208.1,208.1,0,0,0,256,43Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 10px 12px;
    background-color: #141414;
  }
}

.cinema__header__col-right__link {
  margin-left: 30px;
  display: block;
  color: #cccccc;
  text-decoration: none;

  &:hover {
    color: #fccb36;
  }
}

.cinema__header__menu {
  display: block;
  position: relative;
  width: 30px;
  height: 15px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: currentColor;
    left: 0;
    top: 6px;
  }
}

.fpad60 {
  padding-bottom: 60px;
}

.cinema__action-slider {
  &__header {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    color: var(--color-text);

    &--h1 {
      font-size: 32px;

      .cinema__action-slider__caption__dropdown {
        margin-left: 10px;
        margin-bottom: 40px;
      }
    }

    h1 {
      font-size: 32px;
      padding-top: 4px;
    }

    &__dropdown {
      margin-left: 6px;

      .dropdown__caption {
        color: var(--color-text);
        display: block;
        padding-right: 25px;
        text-decoration: none;
        background: url("../images/dist/drop-line.png") 100% 50% no-repeat;
        background-size: 6px 14px;
        cursor: pointer;
        user-select: none;

        span {
          display: block;
          position: relative;
          white-space: nowrap;

          &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 3px;
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--bg-active);
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover span::after {
          width: 0;
        }
      }

      .dropdown-menu {
        background: var(--bg-wrapp);
        min-width: 210px;
        width: 210px;
        border-radius: 10px;
        border: 1px solid var(--color-border);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        li {
          padding: 10px 0;

          a {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            display: block;
            text-decoration: none;
            padding: 0 20px;
            color: var(--color-link);

            &:hover {
              color: var(--color-link-hover);
            }
          }

          &.active {
            order: -1;
            border-bottom: 1px solid var(--color-border);
            margin-bottom: 5px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}

.more-link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--bg-active);
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      width: 0;
    }
  }
}

.cinema__action-slider__wrap {
  position: relative;
  margin-bottom: 80px;

  .swiper {
    overflow: visible;

    &:not(.swiper-initialized) {
      .swiper-slide {
        width: 370px;
        margin-right: 30px;
      }
    }
  }

  &::after,
  &::before {
    content: '';
    display: block;
    width: 50vw;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    background: var(--bg-wrapp);
    opacity: 0.7;
  }

  &::after {
    left: 100%;
  }

  &::before {
    right: 100%;
  }
}

.cinema__action-item {
  display: block;
  text-decoration: none;

  &__img {
    padding-bottom: 15px;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 14px;
    }
  }

  &__title {
    display: block;
    color: var(--color-link);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;

    &:hover {
      color: var(--color-link-hover);
    }
  }

  &__date {
    color: #f5a735;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }

  .btn-yellow {
    margin-top: 10px;
    font-size: 12px !important;
  }
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.swiper__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: var(--bg-nav-slider);
  color: var(--color-link);
  width: 70px;
  height: 70px;
  border-radius: 35px;
  position: absolute;
  z-index: 200;
  top: 50%;
  margin-top: -35px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    color: var(--color-link-hover);
  }

  &--next {
    right: -35px;
  }

  &--prev {
    left: -35px;
  }
}

.cinema__action-slider__wrap {
  position: relative;

  .swiper__nav {
    top: 135px;
  }
}

.cinema__footer {
  padding-top: 35px;
  background: #141414;

  &__top-row {
    padding-bottom: 35px;
  }

  &__nav {
    li {
      padding-bottom: 15px;

      a {
        display: block;
        color: #ccc;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.fpad80 {
  padding-bottom: 80px;
}

.cinema__footer__app-desc {
  color: #ccc;
  font-size: 14px;
  line-height: 24px;
  width: 320px;
  min-width: 320px;
  padding-right: 15px;

  b {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
}

.cinema__account-menu {


  &__wrap {
    min-height: 100vh;
    background: var(--bg-wrapp);
    position: relative;
    z-index: 210;
    padding: 25px 30px !important;
    border-radius: 0 !important;
  }

  &__mask {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);

    &.collapsed {
      display: none;
    }
  }

  &__list {
    padding-bottom: 30px;

    li {
      padding: 5px 0;

      a {
        font-size: 14px;
        display: block;
        line-height: 20px;
        text-decoration: none;
        color: var(--color-link);

        &:hover {
          color: var(--color-link-hover);
          text-decoration: none;
        }
      }
    }
  }

  &__footer {
    li {
      padding-right: 30px;
    }
  }

  &__container {
    position: relative;
    z-index: 10;

    & > .row {
      position: relative;
      z-index: 222;
    }

    &__col {
      position: relative;
      z-index: 222;

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 211;
        background: var(--bg-wrapp);
        bottom: 0;
        width: 50vw;
        left: 100%;
        top: 0;
        margin-left: -15px;
      }
    }
  }

  &__close {
    position: absolute;
    z-index: 1222;
    top: 35px;
    right: 0;

    a {
      color: var(--color-link);
      display: flex;
      text-decoration: none;
      width: 30px;
      height: 30px;
      align-items: center;
      cursor: pointer;
      justify-content: flex-end;

      &:hover {
        color: var(--color-link-active);
      }
    }
  }
}

.btn-yellow {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  background: rgb(251, 202, 71);
  background: -moz-linear-gradient(135deg, rgba(251, 202, 71, 1) 0%, rgba(251, 202, 71, 1) 50%, rgba(244, 159, 36, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(251, 202, 71, 1) 0%, rgba(251, 202, 71, 1) 50%, rgba(244, 159, 36, 1) 100%);
  background: linear-gradient(135deg, rgba(251, 202, 71, 1) 0%, rgba(251, 202, 71, 1) 50%, rgba(244, 159, 36, 1) 100%);
  transition: all 0.2s ease-in-out;
  background-position: 100% 100%;
  height: 48px;
  padding: 5px 15px;
  border-radius: 4px;
  background-size: 200% 48px;

  &:hover {
    background-position: 0 0;
  }

  &--ico {
    padding: 5px !important;
    width: 48px;
    min-width: 48px;
  }
}

.mr-10 {
  margin-right: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.modal-content {
  --bs-modal-bg: var(--bg-wrapp);
  --bs-modal-border-width: 0;
  --bs-modal-border-radius: 10px;
  padding: 0 30px;

  .modal-header {
    border-radius: 0 !important;
    --bs-modal-header-padding: 25px 0;
    --bs-modal-header-border-color: var(--color-border);

    &--logo {
      border-bottom: none !important;
    }

    .modal-title {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  .modal-body {
    --bs-modal-padding: 25px 0;
  }

  .modal-footer {
    padding: 25px 0;
    --bs-modal-footer-border-color: var(--color-border);
    background: transparent;
    border-radius: 0;
    justify-content: flex-start;

    .btn-yellow {
      width: 140px;
      margin-right: 30px;
    }
  }

  .btn-close2 {
    color: var(--color-text);
    cursor: pointer;

    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.cinema__modal-city {
  display: block;

  input {
    display: none;

    &:checked + .cinema__modal-city__wrap {

      .marker-active {
        display: block;
      }

      .marker {
        display: none;
      }

    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__ico {
    min-width: 35px;
    width: 35px;
    height: 24px;
    position: relative;

    svg {
      color: #e0e0e0;
    }

    .marker-active {
      display: none;
    }
  }

  &__val {
    flex-grow: 1;

    &__name {
      display: block;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
    }

    &__adr {
      font-size: 12px;
      line-height: 18px;
    }
  }

}

.modal__list-city {
  li {
    padding-bottom: 15px;
  }
}

label.cinema__modal-city {
  cursor: pointer;
}

.btn-yellow.btn-yellow--app {
  white-space: normal;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding-left: 12px;
  justify-content: flex-start;
  padding-right: 5px;

  .btn-yellow__app-text {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;

    b {
      display: block;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .btn-yellow__app-ico {
    padding-right: 10px;

    svg {
      display: block;
    }
  }
}

.cinema__footer__bottom {
  background: #0a0a0a;
  padding: 15px 0;

  .row {
    min-height: 40px;
  }

  span {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
  }

  a {
    color: #ccc;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

.text-right {
  text-align: right;
}

.modal-dialog.modal-xl {
  margin-top: 0;
  margin-bottom: 0;
  --bs-modal-width: 1200px;
}


@media screen and (min-width: 768px) {
  body.fixed-menu {
    .cinema__header__wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #141414;
      z-index: 220;
    }

    .cinema__header__logo img {
      width: 169px;
      height: 35px;
    }
  }
}

.cinema__account-menu__header {
  display: none;
}

.cinema-page {
  border-top: 1px solid #393939;

  &__header {
    position: relative;
    overflow: hidden;
    background: #141414;
    color: #fff;
    z-index: 1;

    &__pic {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
    }

    &__container {
      position: relative;
      z-index: 10;
      padding: 50px 0 40px;
      display: flex;
      align-items: center;

      &--min {
        min-height: 270px;
      }

      &--big {
        min-height: 595px;
      }
    }

    &__wrap {
      width: 100%;

      h1 {

        font-weight: bold;
        margin: 0 0 26px;
        color: #fff;

        &.fs-42 {
          font-size: 42px;
          line-height: 44px;
        }

        &.fs-32 {
          font-size: 32px;
          line-height: 36px;
        }
      }

      p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;

        &.fs-14 {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      ul {
        list-style-type: none;
        margin: 0 0 20px 0;
        padding: 0;

        li {
          padding: 0 0 0 32px;
          display: block;
          font-size: 14px;
          line-height: 24px;
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            top: 12px;
            left: 0;
            height: 1px;
            width: 20px;
            background: #f5a735;
          }
        }
      }
    }
  }

  &__body {
    padding-top: 60px;
    padding-bottom: 120px;
    color: var(--color-text);
    position: relative;
    z-index: 2;

    h2 {
      font-weight: bold;
      margin-bottom: 40px;
      line-height: 1.1;
      color: var(--color-text);
    }
  }
}

.fpad100 {
  padding-bottom: 100px;
}

.fs-26 {
  font-size: 26px;
}

.cinema__rental-purposes {
  min-height: 64px;
  margin-bottom: 40px;

  &__ico {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
  }

  &__text {
    width: 200px;
    flex-grow: 1;
    padding-left: 30px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
}

.js-select {
  opacity: 0;
}

.cinema__form__row .just-validate-error-label {
  position: relative;
  left: auto;
  top: auto;
  height: 20px;
  margin-bottom: -20px;
}

.cinema__form {
  background: var(--bg-form-wrap);
  padding: 0 30px;
  border-radius: 10px;
  width: 100%;

  &--w50 {
    max-width: 500px;
  }

  &__row {
    padding-bottom: 25px;
    position: static;

    &:hover {
      z-index: 10;
    }

    .choices {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }

  &__header {
    padding: 25px 0;
    border-bottom: 1px solid var(--color-border-form-header);
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    color: var(--color-text);
  }

  &__body {
    padding: 25px 0 30px;
  }

  &__input {
    width: 100%;
    border-radius: 3px;
    display: block;
    height: 48px;
    padding: 5px 12px;
    border: 1px solid var(--color-border-input);
    background-color: var(--bg-input);
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: var(--color-text);

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &--date {
      padding-right: 30px !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 493.04 512'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath fill='%23f5a735' d='M67.89,512H425.15A68,68,0,0,0,493,444.11V105.81a67.94,67.94,0,0,0-67.89-67.88H398.22V19a19,19,0,0,0-37.92,0v19H132.74V19a19,19,0,0,0-37.93,0v19H67.89A67.94,67.94,0,0,0,0,105.81v338.3A68,68,0,0,0,67.89,512Zm-30-406.19a30,30,0,0,1,30-30H94.81v19a19,19,0,1,0,37.93,0v-19H360.3v19a19,19,0,1,0,37.92,0v-19h26.93a30,30,0,0,1,30,30v55.38H37.93Zm0,93.3H455.11v245a30,30,0,0,1-30,30H67.89a30,30,0,0,1-30-30Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: right 12px top 50%;
      background-size: 12px 12px;
      background-repeat: no-repeat;
    }
  }

  &__footer {
    padding-bottom: 25px;

    .just-validate-error-label {
      position: relative;
      left: auto;
      top: auto;
      height: 20px;
      margin-bottom: -20px;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
  }

}

.cinema__form__chekbox {
  display: block;

  &__value {
    display: block;
    padding-left: 26px;
    position: relative;
    user-select: none;
    font-size: 12px;

    a {
      text-decoration: underline;
      color: var(--color-text);

      &:hover {
        text-decoration: none;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 1px solid var(--color-border-input);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 9px 6px;
      background-color: var(--bg-input);
    }
  }

  &--politika {
    .cinema__form__chekbox__value {
      font-size: 12px;
      line-height: 18px;
    }
  }

  input:checked + .cinema__form__chekbox__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 234.93 160'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f5a735;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Icons'%3E%3Cpath class='cls-1' d='M199.17,5.61,86.24,109.14,36.68,59.59A21.33,21.33,0,1,0,6,89.23l.52.52,64,64a21.34,21.34,0,0,0,29.51.64L228,37.06A21.34,21.34,0,1,0,199.17,5.61Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.btn-yellow--submit {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.w-27 {
  max-width: 270px;
}

.w-34 {
  max-width: 340px;
}

.btn-yellow.h-64 {
  height: 64px;
  font-size: 16px;
}

.cinema__action-table {
  &__header {
    padding-bottom: 40px;
  }

  &__body {
    padding-bottom: 55px;
  }

  &__footer {
    padding-bottom: 55px;

    p {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__btn {
    justify-content: center;
    display: flex;
  }
}

.cinema__action-item__desc {
  color: var(--color-link);
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 12px;
}

h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

.fs-18 {
  font-size: 18px;
  line-height: 24px;
}

.fs-14 {
  font-size: 14px;
  line-height: 18px;
}

p.fs-14 {
  margin-bottom: 15px;
}

.link-text {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;

  &::after {
    background: #f5a735;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
  }

  &:hover {
    color: #f5a735;

    &::after {
      width: 0;
    }
  }
}

.link-text2 {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;

  &::after {
    background: #f5a735;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
  }

  &:hover {
    color: #f5a735;

    &::after {
      width: 0;
    }
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.cinema__form.cinema__form--border {
  background: var(--bg-form-border);
  border: 1px solid var(--color-border);
}
.cinema-white .cinema__form.cinema__form--border {
  border: none;
}
.cinema-white .cinema__form {
  & .cinema__form__text,
  & .cinema__form__input,
  & .choices__inner,
  & .cinema__form__chekbox__value:after {
    background-color: #fff;
    border-color: #e0e0e0;
  }
}

.cinema__form__text {
  background: transparent;
  border: 1px solid var(--color-border-input);
  border-radius: 3px;
  color: var(--color-text);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 12px;
  width: 100%;
  height: 115px;
  resize: none;
}

.cinema-page__bonus-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &__ico {
    min-width: 53px;
    width: 53px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}

.cinema-page__bonus-card {
  display: block;
  border-radius: 20px;
  box-shadow: 15px 15px 8px 0px rgba(0, 0, 0, 0.2);
}

.tpad60 {
  padding-top: 60px;
}

h1 {
  font-weight: bold;
}

.fs-32 {
  font-size: 32px;
}

.cinema-page__title {
  margin-bottom: 40px;
}

.cinema-page__contact-info {
  padding-bottom: 45px;

  &__header {
    display: flex;
    align-items: center;
    color: var(--color-text);
    margin-bottom: 15px;
    min-height: 24px;

    &__ico {
      width: 52px;
      min-width: 52px;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }
  }

  &__body {
    padding-left: 52px;

    p {
      color: var(--color-link);
    }
  }

  &__user {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 5px;
    color: var(--color-text);
  }
}

.cinema-page__contact-info.cinema-page__contact-info--not-ico {
  padding: 0;

  .cinema-page__contact-info__body {
    padding-left: 0;
  }
}

.phone-link {
  color: var(--color-text);
  font-weight: 500;
  text-decoration: none;
}

.cinema__wrapper--404 {
  background-image: url("../images/dist/bg_404.jpg");
  background-color: #0a0a0a;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 1920px 638px;
  min-height: 638px;
  padding-top: 350px;
  text-align: center;
}

.cinema__wrapper--404 .cinema-page__body {
  padding-bottom: 30px;
}

.cinema-page__404 {

  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
  }

  &__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
  }

  &__btn {
    padding-top: 30px;
    margin: 0 auto;
    width: 270px;
  }
}

.field__file-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  .field__file {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  .field__file-fake {
    max-width: 340px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: flex;
    margin-right: 30px;
  }

  .field__file-button {
    width: 170px;
    font-size: 12px;
  }
}

.cinema__map {
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &__wrap {
    height: 466px;
    width: 100%;

    [class*="ymaps-2-1"][class*="-ground-pane"] {
      filter: grayscale(1);
      -ms-filter: grayscale(1);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
    }
  }
}

.cinema__map__baloon__title {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 18px 20px 15px 0;
  width: 310px;
  margin: 0 auto;
  border-bottom: 1px solid #393939;
  text-align: left;
}

.cinema__map__baloon__close {
  display: block;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  color: #ccc;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.cinema__map__baloon__body {
  padding: 15px 20px 0 20px;
  color: #fff;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
}

.cinema__map__baloon__hall {
  width: 85px;
}

.cinema__map__baloon__adr {
  padding: 2px 0;
}

.cinema__map__baloon__time {
  padding-bottom: 10px;
}

.cinema__map__baloon__film-tag {
  padding-bottom: 5px;

  li {
    margin: 0 5px 5px 0;
    height: 24px;
    padding: 6px;
    border-radius: 5px;
    background: #000;
    line-height: 1;
  }
}

.cinema__map__baloon__footer {
  padding: 0 20px;
}

.cinema__map__baloon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #000;
    background: #fff;
  }
}

.cinema__text {
  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  ul {
    margin: 0 0 5px 0;
    list-style-type: none;
    padding: 0;

    li {
      font-size: 14px;
      line-height: 18px;
      position: relative;
      padding-left: 40px;
      margin-bottom: 5px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 7px;
        left: 0;
        width: 20px;
        height: 1px;
        background: var(--color-yellow);
      }
    }
  }
}

.cinema-page__history {
  position: relative;
  overflow: hidden;

  li {
    width: 100%;
    position: relative;

    &:not(:last-child) {
      padding-bottom: 30px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        height: 30px;
        width: 1px;
        left: 50px;
        background: #fccb36;
      }
    }
  }

  &__item {
    &__year {
      width: 102px;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 51px;
      border: 2px solid #fccb36;
      font-size: 18px;
      line-height: 1;
      font-weight: bold;
      text-align: center;
      min-width: 102px;
    }

    &__city {
      width: 270px;
      padding: 0 15px 0 30px;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
    }

    &__halls {
      width: 130px;
      padding-right: 15px;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }

    &__places {
      width: 130px;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}

.tpad35 {
  padding-top: 35px;
}

.cinema__top-link {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 40px;

  li:not(:last-child) {
    padding-right: 50px;
  }

  &__item {
    display: block;
    position: relative;
    padding: 20px 0;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: 500;

    &::after {
      background: var(--bg-active);
      content: "";
      display: block;
      height: 3px;
      left: 0;
      margin-top: -2px;
      position: absolute;
      top: 100%;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      width: 0;
      z-index: 10;
    }

    &.active,
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.cinema__pagination {
  justify-content: center;
  padding-top: 25px;

  &__btn--prev {
    margin-right: 10px;
  }

  &__btn--next {
    margin-left: 10px;
  }

  &__btn__nav {
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    color: #141414;
    background: var(--bg-active);
    justify-content: center;

    &:hover {
      background: #fbca47;
    }
  }

  &__item {
    padding: 0 2px;

    &__link {
      display: flex;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      font-weight: bold;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
      justify-content: center;
      color: var(--color-link);
      border: 1px solid transparent;

      &:hover {
        color: var(--color-text);
      }

      &.active {
        color: var(--color-text);
        border-color: #f5a735;
      }
    }

    &__dotts {
      display: flex;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      font-weight: bold;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
      justify-content: center;
      color: var(--color-link);

    }
  }
}

.cinema__news-detail {
  &__top {
    padding: 20px 0;
  }

  &__back {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-text);

    &__ico {
      width: 18px;
      height: 18px;
      display: flex;
      border-radius: 9px;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      background: var(--bg-ico-back);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
      color: var(--color-ico-back);

      &:hover {
        color: var(--color-text);
      }
    }
  }

  &__pic {
    margin: 0 0 35px 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 14px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 23px;
  }

  &__date {
    padding-bottom: 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #f5a735;
  }

  &__body {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--color-border);
  }
}

.cinema__action-slider--footer {
  .cinema__action-slider__wrap {
    margin-bottom: 0;
  }
}

.modal-header.modal-header--logo {
  display: flex;
  justify-content: center;

  .modal-logo {
    height: 40px;
    width: 100%;
    color: var(--color-text);
    background: url('../images/dist/logo-modal-black.svg') 50% 50% no-repeat;
    background-size: 199px 41px;
  }

  .btn-close2 {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
  }
}

.cinema-white .modal-header.modal-header--logo .modal-logo {
  background-image: url("../images/dist/logo-modal-white.svg") !important;
}

.cinema__form__input-ico {
  position: relative;

  &__value {
    width: 100%;
    border: 1px solid var(--color-border-not-active);
    transition: all 0.2s ease-in-out;
    color: var(--color-border-not-active);
    border-radius: 5px;
    padding: 5px 15px 5px 64px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    background: transparent;

    &--pass {
      padding-right: 40px !important;
    }

    &::placeholder {
      color: var(--color-border-not-active);
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      opacity: 1;
    }

    &--date {
      padding-right: 40px;
      background-position: right 15px top 50%;
      background-repeat: no-repeat;
      background-size: 18px 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 493.04 512'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath fill='%23fff' d='M67.89,512H425.15A68,68,0,0,0,493,444.11V105.81a67.94,67.94,0,0,0-67.89-67.88H398.22V19a19,19,0,0,0-37.92,0v19H132.74V19a19,19,0,0,0-37.93,0v19H67.89A67.94,67.94,0,0,0,0,105.81v338.3A68,68,0,0,0,67.89,512Zm-30-406.19a30,30,0,0,1,30-30H94.81v19a19,19,0,1,0,37.93,0v-19H360.3v19a19,19,0,1,0,37.92,0v-19h26.93a30,30,0,0,1,30,30v55.38H37.93Zm0,93.3H455.11v245a30,30,0,0,1-30,30H67.89a30,30,0,0,1-30-30Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    &.is-valid {
      border-color: var(--color-border-is-valid);
      color: var(--color-border-is-valid);

      & + .cinema__form__input-ico__box {
        border-right-color: var(--color-border-is-valid);
      }
    }

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &__box {
    width: 48px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transition: all 0.2s ease-in-out;
    margin-top: -19px;
    color: #f5a735;
    border-right: 1px solid var(--color-border-not-active);
  }

  &__pass {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 35px;
    height: 100%;
    color: var(--color-border-not-active);

    &:hover,
    &.active {
      color: var(--color-border-is-valid);
    }
  }

  &.is-valid {
    .choices__inner {
      border-color: var(--color-border-is-valid);
    }

    .cinema__form__input-ico__box {
      border-right-color: var(--color-border-is-valid);
    }
  }
}

.cinema__form-modal {
  padding-bottom: 30px;

  &__footer {
    display: flex;
    padding-top: 5px;
    justify-content: center;

    .btn-yellow {
      width: 200px;
      font-weight: bold;

      &.disabled {
        background: #979797;
        color: #636363;
      }
    }
  }

}

.cinema-white .cinema__form__input-ico__value--date {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 493.04 512'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath fill='%231c1c1c' d='M67.89,512H425.15A68,68,0,0,0,493,444.11V105.81a67.94,67.94,0,0,0-67.89-67.88H398.22V19a19,19,0,0,0-37.92,0v19H132.74V19a19,19,0,0,0-37.93,0v19H67.89A67.94,67.94,0,0,0,0,105.81v338.3A68,68,0,0,0,67.89,512Zm-30-406.19a30,30,0,0,1,30-30H94.81v19a19,19,0,1,0,37.93,0v-19H360.3v19a19,19,0,1,0,37.92,0v-19h26.93a30,30,0,0,1,30,30v55.38H37.93Zm0,93.3H455.11v245a30,30,0,0,1-30,30H67.89a30,30,0,0,1-30-30Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cinema__form-modal:not(.show-error) {
  /*.just-validate-error-label {
    display: none;
  }*/
}

.modal .just-validate-error-label {
  top: 100%;
  left: 0 !important;
  position: absolute !important;
}

.just-validate-error-label {
  font-size: 12px;
  line-height: 20px;
  color: #e9443a !important;
  font-weight: 500;
}

.cinema-page__history__item {
  display: flex;
  align-items: center;
}


.modal-content__form__tab1 {
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 30px;

  li {
    width: 50%;

    .nav-link {
      display: block;
      position: relative;
      text-align: center;
      padding: 0 0 20px;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      text-decoration: none;
      color: #e0e0e0;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        overflow: hidden;
        background: var(--bg-active);
        transition: all 0.2s ease-in-out;
        height: 3px;
      }

      &.active {
        color: var(--color-text);

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.modal-content__form__tab2 {
  flex-wrap: nowrap;
  margin-bottom: 25px;

  li {
    border: 1px solid var(--color-border);
    width: 50%;
    overflow: hidden;
    height: 36px;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-radius: 0 8px 8px 0;
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -1px;
      position: relative;
      text-align: center;
      padding: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.2;
      text-decoration: none;
      color: var(--color-text);
      height: 36px;

      &.active {
        color: #1b1b1b;
        background: var(--bg-active);
      }
    }
  }
}

.cinema__form__p {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text);
  padding-bottom: 20px;
}

.cinema__form-modal__footer-timer {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text);
  padding-top: 25px;
}

.cinema__form__save-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.cinema__form-modal__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 20px;
}

.fs-12 {
  font-size: 12px;
}

.just-validate-error-box {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
}

.radio-btn {
  display: block;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .radio-btn__value {
      border: none;
      background: var(--bg-active);
      color: #1c1c1c;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 5px;
    border: 1px solid var(--color-border-not-active);
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: var(--color-text);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .cinema__wrapper--404 {
    background-image: url("../images/dist/bg_404@2.jpg");
  }
}

.choices__list--dropdown {
  margin-top: 3px;
  margin-bottom: 3px;
}

.modal-content {
  .choices__list.choices__list--dropdown {
    margin: 3px 0 3px 48px;
    max-width: calc(100% - 48px);

    .choices__placeholder {
      display: none;
    }
  }

  .choices__inner {
    padding-left: 64px;
  }
}

.choices__inner,
.choices[data-type*=select-one] .choices__inner {
  background-color: var(--bg-input) !important;
}

.cinema__price-table {
  &__header {
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #393939;

    &__col-rooms {
      padding-right: 36px;
    }
  }

  &__label,
  &__row {
    border-bottom: 1px solid #393939;
    padding: 25px 0;
  }

  &__mob-label {
    display: none;
  }

  &__value {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
  }
}

b {
  font-weight: bold;
}

.cinema__price-table__card {
  width: 18px;
  height: 12px;
  border-radius: 2px;
  margin-right: 10px;

  &--silver {
    background: #c0c0c0;
  }

  &--gold {
    background: #ffd700;
  }

  &--platinum {
    background: #e5e4e2;
  }
}

.cinema__price-table--only-mob {
  display: none;
}
.tpad50 {
  padding-top: 50px;
}
.fpad50 {
  padding-bottom: 50px;
}
.cinema__account-menu__mob {
  display: none;
}
.cinema__cookies {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 100;
  right: 0;
  &__box {
    padding: 30px 35px 30px 105px;
    border-radius: 10px;
    background-color: var(--cookies-bg);
    background-position: 30px 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border: 1px solid var(--cookies-border);
    background-image: url("../images/dist/coockies.svg");
    display: flex;
    align-items: center;
    &__desc {
      font-size: 12px;
      line-height: 16px;
      flex-grow: 1;
    }
    &__btn {
      min-width: 185px;
      width: 185px;
      padding-left: 40px;
    }
  }

}

body:not(.cinema-white) .cinema__film__tags.cinema__film__tags--v2 {
  --color-tags: #fff;
}

.film-info {
  .cinema__film__tags {
    margin: -4px -2px 25px;
  }
  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  &__params {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

.cinema__film__badge {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  height: 24px;
  justify-content: center;
  line-height: 1.2;
  padding: 0 6px;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: center;
  border-radius: 5px;
  min-width: 28px;
  color: #fff;
  background: #141414;
}

.btn-yellow--tickets {
  position: relative;
  overflow: hidden;
  width: 169px;
  font-weight: bold;
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background: var(--bg-wrapp);
    border-radius: 5px;
  }
  &::after {
    left: -5px;
  }
  &::before{
    right: -5px;
  }
}
.film-info__metadate {
  &__item {
    padding-bottom: 30px;
    &__label {
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
    }
    &__value {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.fpad25 {
  padding-bottom: 25px;
}

.cinema__video {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: block;
  img {
    display: block;
    position: relative;
    z-index: 1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../images/dist/play.svg");
    background-size: 65px 65px;
  }
}

.cinema__film-bg {
  min-height: 350px;
  padding-bottom: 15px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  .cinema__news-detail__back__ico {
    background: #393939;
    color: #fff;
  }
  & .cinema__news-detail__back,
  & .film-info__title,
  & .cinema__film__tags__item,
  & .film-info__params {
    color: #fff;
  }
  .cinema__film__tags__item {
    border-color: #fff;
  }
}
.film-info__btn {
  width: 100%;
  max-width: 420px;
}
.cinema__top-filter__date__item__val--date .cinema__top-filter__date-inp {
  height: 35px;
  padding-bottom: 15px;
}

.cinema__top-filter__time {
  .choices__inner {
    min-height: 40px;
    height: 40px;
    padding: 3px 0 15px 25px;
    border: none;
    min-width: 200px;
    text-transform: uppercase;
    font-weight: 400;
    align-items: flex-start;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath fill='%23fff' d='M347.22,301.21l-71.39-53.54V138.61a19.83,19.83,0,1,0-39.66,0v119a19.78,19.78,0,0,0,7.93,15.86l79.32,59.49a19.83,19.83,0,0,0,23.8-31.73Z'/%3E%3Cpath fill='%23fff' d='M256,0C114.83,0,0,114.83,0,256S114.83,512,256,512,512,397.17,512,256,397.17,0,256,0Zm0,472.34C136.73,472.34,39.66,375.27,39.66,256S136.73,39.66,256,39.66,472.34,136.73,472.34,256,375.27,472.34,256,472.34Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 0 6px;
    background-repeat: no-repeat;
    background-size: 12px 12px;

    .choices__list--single {
      display: block;
    }
  }
  .choices[data-type*=select-one]:after {
    --color-down-select: #fff;
    right: 0;
    top: 13px;
  }
}

.cinema-white {
  .cinema__top-filter__time {
    .choices__inner {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Cpath fill='%23292929' d='M347.22,301.21l-71.39-53.54V138.61a19.83,19.83,0,1,0-39.66,0v119a19.78,19.78,0,0,0,7.93,15.86l79.32,59.49a19.83,19.83,0,0,0,23.8-31.73Z'/%3E%3Cpath fill='%23292929' d='M256,0C114.83,0,0,114.83,0,256S114.83,512,256,512,512,397.17,512,256,397.17,0,256,0Zm0,472.34C136.73,472.34,39.66,375.27,39.66,256S136.73,39.66,256,39.66,472.34,136.73,472.34,256,375.27,472.34,256,472.34Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .choices[data-type*=select-one]:after {
      --color-down-select: #292929;
    }
  }
  .cinema__session__ps {
    color: #1c1c1c;
  }
}

.cinema__session-schedule {
  padding-bottom: 30px;
  &__item {
    padding-bottom: 20px;
    &__hall {
      height: 46px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.cinema__session {
  &__col {
    width: 10%;
    margin-bottom: 10px;
  }
  &__ticket {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      border: 1px solid var(--ticket-border);
      background: var(--bg-wrapp);
      position: absolute;
      z-index: 10;
      top: 50%;
      margin-top: -6px;
    }
    &__wrap {
      height: 46px;
      text-align: center;
      color: var(--ticket-color);
      border: 1px solid var(--ticket-border);
      border-radius: 6px;
      z-index: 1;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &::after {
      left: -6px;
    }
    &::before {
      right: -6px;
    }
    &__time {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.1;
      padding-bottom: 3px;
    }
    &__price {
      font-size: 14px;
      line-height: 1.1;
      font-weight: 500;
    }
  }
  &__ps {
    text-align: center;
    padding-top: 10px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: #9c9c9c;
  }
}