@mixin respond ($breakpoint) {

  @if $breakpoint==mac {
    @media only screen and (min-width: 1921px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 991.1px) and (max-width: 1920px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }
}

:root {
  --bg-wrapp: #1c1c1c;
  --color-border: #393939;
  --color-text: #ffffff;
  --adp-background-color: #050407;
  --bg-active: linear-gradient(135deg, #fccb36 0%, #f49f24 100%);
  --color-link: #ccc;
  --color-link-hover: #ffffff;
  --bg-nav-slider: #393939;
  --color-border-input: #9c9c9c;
  --color-down-select: #f5a735;
  --bg-form-wrap: #393939;
  --color-border-form-header: #1c1c1c;
  --bg-select-options: #141414;
  --color-border-select-options: #393939;
  --color-select-options: #cccccc;
  --color-select-options-active: #fff;
  --color-ico-back: #ccc;
  --bg-ico-back: #393939;
  --bs-border-color: #393939;
  --color-yellow: #f5a735;
  --color-tags: #9c9c9c;
  --color-border-not-active: #9c9c9c;
  --color-border-is-valid: #fff;
  --bg-input: transparent;
  --bg-form-border: transparent;
  --cookies-border: #393939;
  --cookies-bg: #393939;
  --ticket-color: #ccc;
  --ticket-border: #393939;
  --ticket-border-active: #fccb36;
  --ticket-color-active: #fff;
  --border-disabled-cheked: #393939;
  --border-colapse: #1c1c1c;
  --color-loader: #fff;
  --color-standard: #393939;
  --color-comfort: #707070;
  --color-occupied: #1c1c1c;
}

body.cinema-white {
  --bg-wrapp: #fff;
  --color-border: #e0e0e0;
  --color-text: #1b1b1b;
  --adp-background-color: #fff;
  --color-link: #1b1b1b;
  --color-link-hover: #8d8d8d;
  --bg-nav-slider: #fff;
  --color-ico-back: #141414;
  --bg-ico-back: #fff;
  --color-tags: #1b1b1b;
  --color-border-is-valid: #1c1c1c;
  --color-border-form-header: #e0e0e0;
  --bg-select-options: #fff;
  --color-border-select-options: #e0e0e0;
  --color-select-options: #1c1c1c;
  --color-select-options-active: #8d8d8d;
  --bg-form-wrap: #f4f4f4;
  --bg-input: #fff;
  --bg-form-border: #f4f4f4;
  --bs-border-color: #e0e0e0;
  --cookies-border: #e0e0e0;
  --cookies-bg: #fff;
  --ticket-color: #1c1c1c;
  --ticket-border: #8d8d8d;
  --ticket-color-active: #1c1c1c;
  --border-disabled-cheked: #9c9c9c;
  --border-colapse: #e0e0e0;
  --color-loader: #f5a735;
  --color-standard: #dfdfdf;
  --color-comfort: #a7a7a7;
  --color-occupied: #dfdfdf;
}
